@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,300&family=Old+Standard+TT:ital@0;1&display=swap");

@font-face {
  font-family: "Futura";
  src: url(../assets/Fonts/FuturaCondensedRegular.ttf);
}

$colors: (
  color-bg-main: #131313,
  color-font-main: white,
);

$fonts: (
  Muli: "Mulish",
  OldStandardTT: "Old Standard TT",
);
$screen-large: 800px;
// @mixin screen-lg {
//   @media (min-width: #{$screen-large}) {
//     @content;
//   }
// }
@mixin screen-lg {
  @media (min-width: 800px) {
    @content;
  }
}
$sizes: (
  xs: 1ex,
  sm: 2ex,
  md: 3ex,
  lg: 4ex,
  xl: 8ex,
);

@function useFont($font) {
  @return map-get($fonts, $font);
}

@function useColor($color) {
  @return map-get($colors, $color);
}

@function useSize($size) {
  @return map-get($sizes, $size);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
}
h1 {
  font-size: useSize(xl);
}
h2 {
  font-size: useSize(lg);
}
h4 {
  font-size: useSize(md);
}
img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
button {
  cursor: pointer;
}
.button-shop {
  display: inline-block;
  padding: 2ex 6ex;
  border-radius: 2ex;
  background-color: transparent;
  font-size: inherit;
}
body {
  font-family: useFont(Muli);
  font-size: useSize(sm);
  display: grid;
  grid-template-rows: 100vh 1fr 100vh;
  grid-template-columns: 8vw 1fr 8vw;
  section {
    background-color: rgb(120, 203, 56);
    grid-column: 2/3;
  }
  section.overflow {
    // position: sticky;
    // top: 0;
    // margin-top: 8ex;

    .control {
      background-color: white;
      // display: flex;

      display: grid;
      grid-auto-flow: column;
      // grid-template-columns: 1fr;
      // position: sticky;
      // top: 0;

      & > * {
        flex: 1;
      }
      .left {
        max-height: 100vh;
        position: sticky;
        overflow-y: hidden;
        top: 0;

        display: grid;
        place-items: center;
        .grid-control {
          width: 100%;
          display: grid;
          grid-template-columns: 2vw 1fr 2vw;
          // grid-auto-rows: 1fr;
          // column-gap: useSize(lg);
          // row-gap: useSize(xl);
          column-gap: clamp(0px, useSize(lg), useSize(xl));
          row-gap: clamp(0px, useSize(lg), useSize(xl));

          & > * {
            grid-column: 2/-2;
            animation: appear 250ms ease-in;
          }
          @keyframes appear {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
          h1 {
            text-transform: uppercase;
            width: clamp(0.5rem, 10ch, 15ch);
            border-left: 0.25ex solid black;
            padding-left: 1ex;
            animation: clipIntoView 500ms ease-in;
            @keyframes clipIntoView {
              0% {
                clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
              }
              100% {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              }
            }
          }
          .product-title {
            position: relative;
            display: flex;

            h4 {
              // text-decoration: underline;
            }
            .doodle-down {
              align-self: end;
              justify-self: end;
              flex-grow: 1;
              transform: rotate(180deg);
              transform: rotateX(180deg);
              stroke-dashoffset: 0;
              stroke-dasharray: 500;

              animation: drawDoodle 2s ease-in;
              @keyframes drawDoodle {
                0% {
                  stroke-dasharray: 100;
                }
                50% {
                  stroke-dasharray: 1000;
                }
                100% {
                  stroke-dasharray: 5000;
                }
              }
            }
          }

          ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
            column-gap: useSize(md);
            row-gap: useSize(lg);

            animation: clipIntoView 250ms ease-in;
            @keyframes clipIntoView {
              0% {
                clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
              }
              100% {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              }
            }

            li {
              display: flex;
              flex-direction: column-reverse;
              span {
                text-align: center;
                text-transform: capitalize;
              }
              img {
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
              }
            }
          }
          button {
            justify-self: center;
            transition: all 150ms ease-in;
            margin-top: 8ex;
            display: flex;
            flex-direction: row-reverse;
            gap: useSize(xs);
            justify-content: center;
            align-items: center;
            .doodle-heart {
              width: 2ex;
              height: 2ex;
            }
            &:hover {
              background-color: black;
              color: white;
              transform: translateY(-1ex);
              .doodle-heart {
                fill: white;
              }
            }
          }
        }
      }
      .right {
        position: relative;
        top: 0;
        overflow-y: hidden;
        overflow-x: hidden;
        article {
          padding: 4ex;
          height: 100vh;
          width: 100%;
          // display: block;
          position: relative;
          transition: all 250ms ease-in;
          display: grid;
          place-items: center;

          img {
            border-radius: 8px;
            height: 70%;
            aspect-ratio: 1;
            &::after {
              content: "";
              position: absolute;
              height: calc(100% - 8ex);
              width: calc(100% - 8ex);
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              background-color: rgba(0, 0, 0, 0.105);
              box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.161);
            }
          }
        }
      }
    }
  }
}
