@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300;400&family=Mulish:ital,wght@0,300;0,400;1,300&display=swap");

@font-face {
  font-family: "Futura";
  src: url(../assets/Fonts/FuturaCondensedRegular.ttf);
}

$colors: (
  color-bg-main: #131313,
  color-font-main: white,
);

$fonts: (
  Muli: "Mulish",
  Montserrat: "Montserrat",
  BebasNeue: "Bebas Neue",
);
$screen-large: 800px;
// @mixin screen-lg {
//   @media (min-width: #{$screen-large}) {
//     @content;
//   }
// }
@mixin screen-lg {
  @media (min-width: 800px) {
    @content;
  }
}
$sizes: (
  xs: 1ex,
  sm: 2ex,
  md: 3ex,
  lg: 4ex,
  xl: 8ex,
);

@function useFont($font) {
  @return map-get($fonts, $font);
}

@function useColor($color) {
  @return map-get($colors, $color);
}

@function useSize($size) {
  @return map-get($sizes, $size);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
}
h1 {
  font-size: useSize(xl);
}
h2 {
  font-size: useSize(lg);
}
h4 {
  font-size: useSize(md);
}
img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
button {
  display: inline-block;
  padding: 2ex 6ex;
  border-radius: 2ex;
  background-color: transparent;
  font-size: inherit;

  cursor: pointer;
  // margin-top: 8ex;

  display: flex;
  flex-direction: row-reverse;
  gap: useSize(xs);
  justify-content: center;
  align-items: center;

  transition: all 150ms ease-in;
  .doodle-heart {
    width: 2ex;
    height: 2ex;
  }
  &:hover {
    background-color: black;
    color: white;
    transform: translateY(-1ex);
    .doodle-heart {
      fill: white;
    }
  }
}

.background-clip-title {
  background-image: url(../assets/images/patterns/background.jpg);
  background-size: cover;
  filter: hue-rotate(180deg);
  background-clip: text;
  color: transparent;
}
.title {
  font-size: 15vw;
  text-transform: uppercase;
  text-align: center;
}
.spacer {
  grid-column: 1/-1;
  display: grid;
  place-content: center;
}
body {
  font-family: useFont(Montserrat);
  font-size: useSize(sm);
  display: grid;
  grid-template-rows: 8vh min-content 100vh min-content 1fr 100vh 100vh 120vh;
  grid-template-columns: 2vw 1fr 4vw;
  background-color: #f0f3f3;
  .announcer {
    font-family: useFont(Montserrat);
    grid-column: 1/-1;
    background-image: url(../assets/images/patterns/background.jpg);
    background-size: cover;
    background-position: 20% 20%;
    margin-bottom: 2ex;
    box-shadow: 0px 1px 4px 4px rgb(0, 0, 0);

    .title-small {
      // background-clip: text;
      text-transform: uppercase;
      color: white;
    }
  }
  .main-header {
    grid-column: 2/3;
    color: black;
    position: sticky;
    top: 0;
    width: 100%;
    padding: useSize(sm) 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    .announcer {
      background-color: black;
      color: white;
      font-style: italic;
      font-weight: 300;
      h5 {
        text-align: center;
        text-transform: uppercase;
        padding: 1ex 0;
      }
    }

    &.logo-sizedown {
      background-color: transparent;
      & .announcer {
        display: none;
      }
      & .nav-control .logo {
        max-height: 7vh;
        // display: none;
      }
      & .nav-control .navbar {
        // color: #f0f3f3;
        // color: #e21683ac;
        color: black;
        display: none;
      }
    }

    .nav-control {
      flex-grow: 1;
      display: flex;
      align-items: center;

      .logo {
        max-height: 10vh;
        aspect-ratio: 1;
        margin-right: auto;
        transition: all 250ms ease-in-out;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .navbar {
        ul {
          display: flex;
          gap: useSize(lg);

          li {
            cursor: pointer;
            display: flex;
            // gap: 1ex;
            position: relative;
            align-items: center;

            &::before {
              // align-self: center;
              content: "";
              height: 0ex;
              transition: 250ms ease-in-out;
              color: #81feea;
            }
            &:hover::before {
              content: "+";
              font-size: 3ex;
              color: #ff97b2;
              transform: rotate(90deg);
            }
          }
        }
        &.swap-colors {
          color: black;
          display: block;
        }
      }
    }
  }
  section {
    grid-column: 2/3;
  }
  .hero-section {
    grid-column: 1/-1;

    &__details {
      position: relative;
      display: grid;
      grid-template-columns: 4vw 1fr 4vw;
      grid-template-rows: min-content 1fr;
      row-gap: useSize(xl);
      background-size: cover;

      &__header {
        grid-column: 2/-2;
        display: flex;
        justify-content: end;
        .socials {
          display: flex;
          align-items: center;
          gap: useSize(md);

          li {
            width: 4ex;
            height: 4ex;
            cursor: pointer;
            transition: transform 150ms ease-in;

            svg {
              // fill: #ed6a6f;
              fill: black;
            }

            &:hover {
              transform: translateY(-2px);
              svg {
                fill: #ff97b2;
              }
            }
          }
        }
      }
      &__footer {
        grid-column: 2/-2;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: min-content;
        gap: useSize(lg);
        .hero-title {
          font-family: useFont(BebasNeue);
          text-align: end;
          text-transform: uppercase;
          font-size: 6rem;
          display: flex;
          flex-wrap: wrap;
          justify-content: end;
          span {
            min-width: 0.25ex;
            color: black;
            cursor: crosshair;
            &:hover {
              transform: scale(1.1);
              color: #ff97b2;
            }
          }
        }
        article {
          justify-self: flex-end;
          text-align: right;
          width: 40ch;

          button {
            margin-left: auto;
            margin-top: 8ex;
          }
        }
      }
    }
  }

  .products {
    // max-width: 1170px;
    // margin: 0 auto;
    .control {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 50%;

      &__data {
        order: 1;
        max-height: 100vh;
        height: 100%;
        position: sticky;
        top: 0%;
        display: grid;
        justify-items: start;
        align-items: center;

        &__grid {
          width: 100%;
          // height: 75%;
          display: grid;

          grid-template-columns: 1vw 1fr 1vw;
          column-gap: clamp(0px, useSize(lg), useSize(xl));
          // row-gap: clamp(0px, useSize(xl), 8ex);
          // row-gap: useSize(xl);
          & > * {
            grid-column: 2/-2;
            animation: appear 250ms ease-in;
          }
          @keyframes appear {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
          .title {
            text-transform: uppercase;
            width: clamp(0.5rem, 10ch, 15ch);
            border-left: 0.25ex solid black;
            padding-left: 1ex;
            animation: clipIntoView 500ms ease-in;
            font-size: 3.5vw;
            margin-bottom: 2ex;
            text-align: left;
            @keyframes clipIntoView {
              0% {
                clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
              }
              100% {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              }
            }
          }
          .subtitle-control {
            position: relative;
            display: flex;
            justify-self: end;
            svg.doodle-down {
              display: none;
              height: 60%;
              width: 60%;
              max-width: 300px;
              max-height: 200px;

              transform: rotate(180deg);
              transform: rotateX(180deg);
              stroke-dashoffset: 0;
              stroke-dasharray: 500;

              animation: drawDoodle 2s ease-in;
              @keyframes drawDoodle {
                0% {
                  stroke-dasharray: 100;
                }
                50% {
                  stroke-dasharray: 1000;
                }
                100% {
                  stroke-dasharray: 5000;
                }
              }
            }
          }

          ul.product-list {
            justify-self: end;

            // display: grid;
            // grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
            display: flex;
            // flex-direction: column;
            // flex-wrap: wrap;
            column-gap: useSize(sm);
            row-gap: useSize(sm);
            animation: clipIntoView 250ms ease-in;
            margin-bottom: 4ex;

            li.link {
              display: flex;
              // justify-content: flex-start;
              flex-direction: column-reverse;
              align-items: center;
              span {
                // text-align: center;
                text-transform: capitalize;
              }
              img {
                // display: none;
                height: 100%;
                max-width: 60px;
                object-fit: cover;
                clip-path: circle();
              }
            }
            @keyframes clipIntoView {
              0% {
                clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
              }
              100% {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              }
            }
          }
          button {
            justify-self: flex-start;
            justify-self: end;
          }
        }
      }
      &__images {
        // display: grid;
        place-content: center;
        position: relative;
        // scroll-snap-type: y mandatory;

        overflow-y: hidden;
        // height: 100vh;
        &__image {
          padding: 4ex;
          max-height: 100%;
          // height: 100%;
          width: 100%;
          // margin-top: 50%;
          position: relative;
          transition: all 250ms ease-in;
          display: grid;
          place-items: center;
          &:nth-of-type(1) {
            // margin-top: -100%;
          }
          // position: absolute;
          // scroll-snap-align: end;

          img {
            border-radius: 8px;
            height: 70%;
            aspect-ratio: 1;
          }

          svg {
            width: 50%;
            height: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            z-index: 2;
            path:nth-child(3) {
              stroke: transparent;
            }
          }
        }
      }
    }
  }
  // .reviews {
  //   grid-column: 1/-1;
  //   // background-color: black;
  //   color: black;
  //   display: grid;
  //   // row-gap: useSize(md);
  //   grid-template-columns: 2vw repeat(4, (1em 1fr 1fr 2em 2em)) 2vw;
  //   grid-template-rows: 2vw min-content min-content min-content 1fr 2vw;

  //   &__title {
  //     grid-column: 2 / 6;
  //     grid-row: 2/3;
  //     text-transform: uppercase;
  //     font-weight: bold;
  //     display: flex;
  //     z-index: 2;
  //   }
  //   &__rating {
  //     grid-column: 2 / 6;
  //     grid-row: 3/4;
  //     display: flex;
  //     color: #81feea;
  //     gap: 2ex;
  //     padding: 2ex 2ex 2ex 0;
  //     font-family: useFont(BebasNeue);
  //     font-size: useSize(md);
  //     z-index: 2;

  //     &__verbal {
  //       letter-spacing: 1px;
  //       // flex-grow: 1;
  //     }
  //     &__stars {
  //       margin-right: auto;
  //     }
  //     &__numerical {
  //     }
  //   }
  //   &__cards {
  //     grid-column: 3 / 8;
  //     grid-row: 4/5;
  //     z-index: 2;

  //     display: flex;
  //     gap: useSize(lg);
  //     &__card {
  //       min-width: 300px;
  //       padding: 2ex 4ex;
  //       display: grid;
  //       grid-template-columns: 1fr;
  //       grid-auto-flow: row;
  //       grid-auto-rows: min-content;
  //       align-items: center;
  //       background-color: #f0f3f3;
  //       color: black;
  //       border: 4px solid black;
  //       border-top-right-radius: 25%;
  //       border-bottom-left-radius: 25%;
  //       position: relative;

  //       h5 {
  //         font-family: useFont(Montserrat);
  //         // margin: 10%;
  //         margin: 2ex 2ex 2ex 0;
  //         text-align: left;
  //         z-index: 1;
  //       }
  //       blockquote {
  //         // margin: 10%;
  //         margin: 0ex 2ex 2ex 0ex;
  //         grid-column: span 2;
  //         max-width: 21ch;
  //         z-index: 1;
  //       }
  //       &::before {
  //         background-color: rgb(255, 221, 31);
  //         content: "";
  //         width: 30%;
  //         position: absolute;
  //         top: 15%;
  //         left: -15%;
  //         aspect-ratio: 1;
  //         z-index: 1;
  //         clip-path: circle();
  //       }

  //       .quote-outline {
  //         position: absolute;
  //         width: 20%;
  //         aspect-ratio: 1;
  //         top: -15%;
  //         left: -10%;
  //         z-index: 1;
  //         background-color: black;
  //         display: grid;
  //         place-content: center;
  //         clip-path: circle();
  //         display: grid;
  //         place-items: center;

  //         .quote {
  //           // padding: 3.5ex;
  //           width: 50px;
  //           height: 50px;
  //           z-index: 3;
  //           background-color: #f0f3f3;
  //           display: grid;
  //           place-content: center;
  //           clip-path: circle();
  //           // padding: 2ex;

  //           svg {
  //             height: 15px;
  //           }
  //         }
  //       }
  //     }
  //   }
  //   &__image-control-foreground {
  //     grid-column: 9 / 15;
  //     grid-row: 3 / 6;
  //     background-color: green;
  //     z-index: 1;

  //     img {
  //       height: 100%;
  //       width: 100%;
  //       object-fit: cover;
  //     }
  //   }
  //   &__image-control-background {
  //     grid-column: 8 / 23;
  //     grid-row: 1/7;
  //     position: relative;
  //     z-index: 0;

  //     &::after {
  //       content: "";
  //       position: absolute;
  //       height: 100%;
  //       width: 100%;
  //       top: 0;
  //       left: 0;
  //       box-shadow: inset 0px 0px 250px 0px black;
  //     }
  //     img {
  //       height: 100%;
  //       width: 100%;
  //       object-fit: cover;
  //       position: relative;
  //     }
  //   }
  // }
  .flavours {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    &__title {
      order: 1;
      text-transform: uppercase;
    }
    &__list {
      justify-self: end;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 3em;
      &__item {
        padding: useSize(sm) 0;
        overflow: hidden;
        // border-bottom: 2px solid black;
        position: relative;
        // align-self: flex-start;

        span {
          font-size: 2rem;
          display: inline-block;
          transform: translateY(200%);
          transition: transform 500ms ease-in;
        }
        img {
          width: 150px;
          height: 200px;
          object-fit: cover;
          position: absolute;
          opacity: 0;
        }
      }
    }
  }
}
