@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;1,300&family=Old+Standard+TT:ital@0;1&display=swap");
@font-face {
  font-family: "Futura";
  src: url(../assets/Fonts/FuturaCondensedRegular.ttf);
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

h1 {
  font-size: 8ex;
}

h2 {
  font-size: 4ex;
}

h4 {
  font-size: 3ex;
}

img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  cursor: pointer;
}

.button-shop {
  display: inline-block;
  padding: 2ex 6ex;
  border-radius: 2ex;
  background-color: transparent;
  font-size: inherit;
}

body {
  font-family: "Mulish";
  font-size: 2ex;
  display: grid;
  grid-template-rows: 100vh 1fr 100vh;
}
body section {
  background-color: rgb(120, 203, 56);
}
body section.overflow .control {
  background-color: white;
  display: grid;
  grid-auto-flow: column;
}
body section.overflow .control > * {
  flex: 1;
}
body section.overflow .control .left {
  max-height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  overflow-y: hidden;
  top: 0;
  display: grid;
  place-items: center;
}
body section.overflow .control .left .grid-control {
  width: 100%;
  display: grid;
  grid-template-columns: 2vw 1fr 2vw;
  -moz-column-gap: clamp(0px, 4ex, 8ex);
       column-gap: clamp(0px, 4ex, 8ex);
  row-gap: clamp(0px, 4ex, 8ex);
}
body section.overflow .control .left .grid-control > * {
  grid-column: 2/-2;
  -webkit-animation: appear 250ms ease-in;
          animation: appear 250ms ease-in;
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body section.overflow .control .left .grid-control h1 {
  text-transform: uppercase;
  width: clamp(0.5rem, 10ch, 15ch);
}
body section.overflow .control .left .grid-control .product-title {
  position: relative;
  display: flex;
}
body section.overflow .control .left .grid-control .product-title .doodle-down {
  align-self: end;
  justify-self: end;
  flex-grow: 1;
  transform: rotate(180deg);
  transform: rotateX(180deg);
  stroke-dashoffset: 0;
  stroke-dasharray: 500;
  -webkit-animation: drawDoodle 2s ease-in;
          animation: drawDoodle 2s ease-in;
}
@-webkit-keyframes drawDoodle {
  0% {
    stroke-dasharray: 100;
  }
  50% {
    stroke-dasharray: 1000;
  }
  100% {
    stroke-dasharray: 5000;
  }
}
@keyframes drawDoodle {
  0% {
    stroke-dasharray: 100;
  }
  50% {
    stroke-dasharray: 1000;
  }
  100% {
    stroke-dasharray: 5000;
  }
}
body section.overflow .control .left .grid-control ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  -moz-column-gap: 3ex;
       column-gap: 3ex;
  row-gap: 4ex;
  -webkit-animation: clipIntoView 250ms ease-in;
          animation: clipIntoView 250ms ease-in;
}
@-webkit-keyframes clipIntoView {
  0% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes clipIntoView {
  0% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
body section.overflow .control .left .grid-control ul li {
  display: flex;
  flex-direction: column-reverse;
}
body section.overflow .control .left .grid-control ul li span {
  text-align: center;
  text-transform: capitalize;
}
body section.overflow .control .left .grid-control ul li img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
body section.overflow .control .left .grid-control button {
  justify-self: center;
  transition: all 150ms ease-in;
  margin-top: 8ex;
  display: flex;
  flex-direction: row-reverse;
  gap: 1ex;
  justify-content: center;
  align-items: center;
}
body section.overflow .control .left .grid-control button .doodle-heart {
  width: 2ex;
  height: 2ex;
}
body section.overflow .control .left .grid-control button:hover {
  background-color: black;
  color: white;
  transform: translateY(-1ex);
}
body section.overflow .control .left .grid-control button:hover .doodle-heart {
  fill: white;
}
body section.overflow .control .right {
  position: relative;
  top: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
body section.overflow .control .right article {
  padding: 4ex;
  height: 100vh;
  width: 100%;
  position: relative;
  transition: all 250ms ease-in;
  display: grid;
  place-items: center;
}
body section.overflow .control .right article img {
  border-radius: 8px;
  height: 70%;
  aspect-ratio: 1;
}
body section.overflow .control .right article img::after {
  content: "";
  position: absolute;
  height: calc(100% - 8ex);
  width: calc(100% - 8ex);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.105);
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.161);
}/*# sourceMappingURL=index.css.map */